<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> 
	<typeAliases>
		<typeAlias type="com.koreait.shoppingmall.domain.Product" alias="Product"/>
		<typeAlias type="com.koreait.shoppingmall.domain.ProductImg" alias="ProductImg"/>
		<typeAlias type="com.koreait.shoppingmall.domain.Category" alias="Category"/>
		<typeAlias type="com.koreait.shoppingmall.domain.Admin" alias="Admin"/>
		<typeAlias type="com.koreait.shoppingmall.domain.Notice" alias="Notice"/>
	</typeAliases>
	
  <mappers>
    <mapper resource="com/koreait/shoppingmall/mybatis/ProductMapper.xml"/>
    <mapper resource="com/koreait/shoppingmall/mybatis/ProductImgMapper.xml"/>
    <mapper resource="com/koreait/shoppingmall/mybatis/CategoryMapper.xml"/>
    <mapper resource="com/koreait/shoppingmall/mybatis/AdminMapper.xml"/>
    <mapper resource="com/koreait/shoppingmall/mybatis/NoticeMapper.xml"/>
  </mappers>
  
</configuration>